p {
    text-align: center;
    margin: 0.5rem;
    
}

.weather {
    font-size: 15px;
}

.day {
    background-image: linear-gradient(
        to right, red 40%, orange
    );
}

.night {
    background-image: linear-gradient(
        to right, blue 40%, purple
    );
}
